@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
$futura-font: Futura,
"Trebuchet MS",
Arial,
sans-serif;
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}