// ========================
//         Navbar
// ========================
$navbar-height: 93px;
$navbar-color: white;
$navbar-links-color: #ccc;
$navbar-shadow: 2px -1px 12px rgba(0, 0, 0, 0.42);
// ========================
//         Colors
// ========================
$light-gray: #e6e6e6;
// ========================
//          Fonts 
// ========================
$futura-font: Futura,
"Trebuchet MS",
Arial,
sans-serif;