section#contacto {
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        img {
            margin: 10px 0;
        }
        img:first-child {
            margin-top: 67px;
        }
    }
    height: 585px;
    background: url("../img/nav/contacto-bg.jpg") center center no-repeat;
    background-size: cover;
    @media screen and (max-width:650px) {
        img {
            transform: scale(0.6);
        }
    }
}