section#contacto {
    .info {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        height: 100%;
        img {
            margin: 10px 0;
        }
        .telimg {
            margin-top: 67px;
        }
    }
    height: 585px;
    background: url("../img/nav/contacto-bg.jpg") center center no-repeat;
    background-size: cover;
    @media screen and (max-width:650px) {
        a:not(:nth-child(3)),
        .info>img {
            transform: scale(0.5);
        }
        a>img {
            margin-top: 0 !important;
        }
    }
}