section#destacados {
    //position: relative;
    margin-bottom: -69px;
    z-index: 1; //text-align: center;
    >a:first-child>.item-destacado {
        border-top: 5.44px solid #f37121;
    }
    >a:nth-child(2)>.item-destacado {
        border-top: 5.44px solid #ed1163;
    }
    >a:nth-child(3)>.item-destacado {
        border-top: 5.44px solid #6f559b;
    }
    .item-destacado {
        //margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 117px;
        background-color: #f1f1f1;
        transition: 0.1s ease background-color;
        &:hover {
            background-color: #d4d4d4;
        }
    }
}