section#destacados {
    //position: relative;
    //display: inline-flex;
    margin-bottom: -60px;
    z-index: 2; //text-align: center;
    .item-outer:first-child>a {
        border-top: 5.44px solid #f37121;
    }
    .item-outer:nth-child(2)>a {
        border-top: 5.44px solid #ed1163;
    }
    .item-outer:nth-child(3)>a {
        border-top: 5.44px solid #6f559b;
    }
    a {
        //margin: 0 5px;
        display: flex; //width: 100vw;
        justify-content: center;
        align-items: center;
        height: 117px;
        margin-top: 10px;
        background-color: #f1f1f1;
        transition: 0.1s ease background-color;
        &:hover {
            background-color: #d4d4d4;
        }
    }
}