section#footer {
    display: flex;
    align-items: center;
    min-height: 175px;
    background-color: black;
    .copyright {
        display: flex;
        flex-direction: column;
        font-family: Raleway;
        span:first-child {
            color: white;
        }
        span:not(:first-child) {
            color: #7f7f7f;
        }
    }
    .right {
        display: flex;
        align-items: center;
        img {
            height: 25px;
        }
        .social-links ul {
            margin: 0
        }
    }
    .icon-youtube-play {
        color: black;
    }
}

@media screen and (max-width: 890px) {
    section#footer {
        flex-direction: column-reverse;
        .right {
            flex-direction: column;
        }
        .copyright {
            text-align: center;
        }
        .right .social-links ul {
            margin: 10px 0;
            padding: 0;
        }
        .copyright {
            margin-bottom: 16px;
        }
    }
}