section#footer {
    min-height: 175px;
    background-color: black;
    .copyright {
        font-family: Raleway;
        min-height: 175px;
        padding-top: 64px;
        span:first-child {
            color: white;
        }
        span:not(:first-child) {
            color: #7f7f7f;
        }
    }
    .right {
        padding-top: 64px;
        img {
            height: 25px;
        }
        .social-links ul {
            margin: 0
        }
    }
    .icon-youtube-play {
        color: black;
    }
}

@media screen and (max-width: 890px) {
    section#footer {
        flex-direction: column-reverse;
        .right {
            flex-direction: column;
            text-align: center;
        }
        .right .social-links ul {
            margin: 10px 0;
            padding: 0;
        }
        .copyright {
            margin-bottom: 16px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 767px) {
    section#footer {
        flex-direction: column-reverse;
        .right {
            flex-direction: column;
            text-align: center;
        }
        .right .social-links ul {
            margin: 10px 0;
            padding: 0;
        }
        .copyright {
            margin-bottom: 16px;
            text-align: center;
        }
    }
    section#footer .copyright {
        font-family: Raleway;
        min-height: 21px;
        padding-top: 24px;
    }
    section#footer .right {
        padding-top: 32px;
    }
}