section#proyectos {
    .proyectos-header {
        height: 171px;
        .tags {
            height: 171px;
            align-items: center;
            justify-content: flex-end;
        }
        ul {
            margin-right: 55.2px;
        }
        li {
            color: black;
            font-family: $futura-font;
            font-size: 1rem;
        }
    }
}

.proyectos-header {
    min-height: 171px;
    background-color: #eaeaea;
    padding-top: 72px;
    h1,
    h2 {
        width: 100%;
        font-size: 1.6rem;
        font-family: "Futura";
        font-weight: 400;
        color: rgb(1, 1, 1);
        text-transform: uppercase;
        line-height: 1.087;
        text-align: center;
    }
}

.proyectos-list {
    padding: 0;
    margin: 0;
    .hidden>.info-container {
        opacity: 0;
    }
    .proyecto::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        opacity: 0;
        z-index: 0;
        transition: 0.3s ease all;
    }
    .proyecto:hover {
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: black;
            position: absolute;
            top: 0;
            opacity: 1;
            z-index: 0;
        }
    }
    .proyecto {
        list-style: none;
        padding: 0;
        margin: 0;
        transition: 0.3s ease all;
        &:hover {
            .info-container {
                opacity: 1;
            }
            span,
            p,
            h3 {
                color: white;
            }
        }
    }
    .proyecto:not(.thumb) {
        min-height: 450px;
        color: black;
    }
    .info-container {
        position: absolute;
        margin-left: 10.6666%;
        margin-top: 40px;
        z-index: 1;
    }
    .date {
        font-family: Raleway;
    }
    h3 {
        margin-top: 5%;
        margin-bottom: 20px;
        width: 80%;
        font-size: 2rem;
        font-family: "Futura";
        color: inherit;
        font-weight: bold;
        line-height: 1.281;
    }
    p {
        width: 90%;
        font-size: 1.1rem;
        font-family: "Raleway";
        color: inherit;
        line-height: 1.846;
    }
}

.thumb {
    background-size: cover;
    color: white;
    &.info h3 {
        color: white;
    }
}

.proyectos-vermas {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-family: $futura-font;
        font-weight: bold;
        border-radius: 3px;
    }
}

.tags ul {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    li {
        text-transform: capitalize;
        text-align: left;
        cursor: pointer;
    }
}

.tags ul li.selected {
    font-weight: 700;
}

.tags {
    display: flex;
}