.video {
    z-index: 1;
    height: 515px;
    background: url("../img/proyectos/quilmeshostel/videobg.png") center center no-repeat;
    background-size: cover;
    position: relative;
}

.video::before {
    content: "";
    width: 100%;
    height: 141px;
    background-color: #f5f5f5;
    position: absolute;
    bottom: -141px;
    z-index: 0;
}

.descripcion {
    z-index: 2;
    background-color: white;
    padding-top: 76px;
    padding-bottom: 53px;
    margin-top: -17px;
    .date {
        span {
            font-weight: bold;
        }
    }
    h1 {
        font-family: $futura-font;
        font-weight: bold;
    }
    .separador {
        height: 3px;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 35px;
        background: url("../img/nav/barraproyecto.png") center center no-repeat;
        background-size: cover;
    }
    .button {
        width: 100%;
    }
    h3 {
        font-family: Raleway;
        font-weight: bold;
        font-size: 1rem;
    }
    p {
        font-family: Raleway;
        font-weight: normal;
        font-size: 1rem;
    }
    li {
        font-family: Raleway;
        font-weight: normal;
        font-size: 1rem;
        color: black;
        list-style-type: none;
    }
    li::before {
        content: "- ";
        font-weight: bold;
    }
    ul {
        padding-left: 0;
    }
}