.top-banner {
    height: 445px;
    background-color: black;
    padding-top: 124px;
    text-align: center;
    h1,
    h2 {
        font-family: $futura-font;
        font-weight: 200;
        color: white;
        font-size: 3rem;
    }
    h3 {
        font-family: $futura-font;
        font-weight: 200;
        color: white;
        font-size: 2rem;
    }
    p {
        font-family: raleway;
        color: white;
        font-weight: normal;
        margin-top: 20px;
    }
}

section#quehacemos {
    background-color: white;
    min-height: 794px;
    padding-top: 90px; //text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    h2 {
        font-family: $futura-font;
        font-weight: 600;
    }
    img {
        width: 100%;
    }
    .pic {
        text-align: center;
        min-height: 300px;
    }
    .text {
        padding-top: 10px;
        padding: 37px;
    }
    .row {
        margin-bottom: 56px;
    }
    @media screen and (max-width: 767px) {
        .row {
            margin-bottom: 0px;
        }
        .row:last-child {
            margin-bottom: 40px,
        }
    }
}

section#staff {
    .staff-banner {
        background: url(../img/somos/staff.png) center center no-repeat;
        background-size: cover;
    }
    .equipo {
        padding-top: 70px;
        h3 {
            text-align: center;
            font-family: $futura-font;
            font-weight: normal;
            margin-bottom: 50px;
        }
        .foto-persona {
            min-height: 200px;
            margin-bottom: 15px;
        }
        .persona {
            text-align: center;
            position: relative;
            margin-bottom: 25px;
            padding: 20px;
            transition: 0.2s ease all;
            &:hover {
                .text {
                    opacity: 1;
                }
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
        .nombre {
            text-align: center;
            font-family: $futura-font;
            font-weight: bolder;
            color: black;
        }
        p {
            margin: 0;
        }
        .text {
            opacity: 0;
            transition: 0.2s ease all;
        }
        .puesto {
            font-family: Raleway;
            font-size: 1rem;
            font-style: italic;
            color: black;
        }
    }
}

@media screen and (max-width: 455px) {
    .top-banner {
        min-height: 528px;
        padding-top: 104px;
    }
}